$().ready(function() {
	validateRule();
});

$.validator.setDefaults({
	submitHandler : function() {
		update();
	}
});
function update() {
	$.ajax({
		cache : true,
		type : "POST",
		url : "/${pathName}/${classname}/update",
		data : $('#signupForm').serialize(),// 你的formid
		async : false,
		error : function(request) {
			parent.layer.alert("Connection error");
		},
		success : function(data) {
			if (data.code == 0) {
				parent.layer.msg("操作成功");
				parent.reLoad();
				var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
				parent.layer.close(index);

			} else {
				parent.layer.alert(data.msg)
			}

		}
	});

}
function validateRule() {
	var icon = "<i class='fa fa-times-circle'></i> ";
	$("#signupForm").validate({
		rules : {
		#foreach ($column in $columns)
			$column.attrname : {
				required : true 
				#if("$column.attrType" == "Integer")
				,digits:true //必须输入整数。
				 #elseif("$column.attrType" == "Double" )
				,number:true //必须输入合法的数字（负数，小数）。
				#elseif("$column.attrType" =="Date")
				,date:true //必须输入正确格式的日期。
				#elseif($column.columnLength > 0)
				,maxlength:$column.columnLength //限制字符长度。
				#end
			},
		#end
		},
		messages : {
		#foreach ($column in $columns)
			$column.attrname : {
				required : icon + "请输入$column.comments"
				#if("$column.attrType" == "Integer")
				,digits:   icon +"必须输入整数"
				 #elseif("$column.attrType" == "Double" )
				,number:   icon +"必须输入合法的数字（负数，小数）"
				#elseif("$column.attrType" =="Date")
				,date:     icon +"必须输入正确格式的日期"
				#elseif($column.columnLength > 0)
				,maxlength:icon +"最大长度不能超过$column.columnLength" 
				#end
			},
		#end
		}
	})
}