<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${tbProductUpc.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">对应商品：</label>
								<div class="col-sm-8">
									<input id="productId" name="productId" th:value="${tbProductUpc.productId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">单品名称，可能是大小，也可能是型号：</label>
								<div class="col-sm-8">
									<input id="name" name="name" th:value="${tbProductUpc.name}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">分类名称：</label>
								<div class="col-sm-8">
									<input id="typeName" name="typeName" th:value="${tbProductUpc.typeName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">标价：</label>
								<div class="col-sm-8">
									<input id="price" name="price" th:value="${tbProductUpc.price}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">当前售价：</label>
								<div class="col-sm-8">
									<input id="salePrice" name="salePrice" th:value="${tbProductUpc.salePrice}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">是否上架，默认为不上架：</label>
								<div class="col-sm-8">
									<input id="onSale" name="onSale" th:value="${tbProductUpc.onSale}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">数量：</label>
								<div class="col-sm-8">
									<input id="quantity" name="quantity" th:value="${tbProductUpc.quantity}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">库存预警阈值：</label>
								<div class="col-sm-8">
									<input id="lowStockThreshold" name="lowStockThreshold" th:value="${tbProductUpc.lowStockThreshold}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">计价单位，参考数据字典ProductUnit：</label>
								<div class="col-sm-8">
									<input id="unity" name="unity" th:value="${tbProductUpc.unity}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">供应商预留：</label>
								<div class="col-sm-8">
									<input id="supplierReference" name="supplierReference" th:value="${tbProductUpc.supplierReference}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建人：</label>
								<div class="col-sm-8">
									<input id="createBy" name="createBy" th:value="${tbProductUpc.createBy}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="gmtCreate" name="gmtCreate" th:value="${tbProductUpc.gmtCreate}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">更新人：</label>
								<div class="col-sm-8">
									<input id="updateBy" name="updateBy" th:value="${tbProductUpc.updateBy}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">更新时间：</label>
								<div class="col-sm-8">
									<input id="gmtUpdate" name="gmtUpdate" th:value="${tbProductUpc.gmtUpdate}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">是否删除，0表示正常，1表示已删除：</label>
								<div class="col-sm-8">
									<input id="delFlag" name="delFlag" th:value="${tbProductUpc.delFlag}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">单品编码，预留：</label>
								<div class="col-sm-8">
									<input id="upc" name="upc" th:value="${tbProductUpc.upc}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/project/tbProductUpc/edit.js">
	</script>
</body>
</html>
