<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.octopus.mybatisDemo.dao.GoodsDao">
	<cache flushInterval="300"/>
	<select id="getById" resultMap="baseResultMap">
		select g.id as gid,name,price,count,type,up_time,state,source_channel,in_price,promtion_price,type_id
		,t.id as tid ,type_name,parent_id
		from goods g
		inner join goods_type t on t.id = g.type_id
		where g.id=#{id}
	</select>
	
	<select id="getById1" resultMap="baseResultMap1">
		select <include refid="baseColumn"></include>
		from goods 
		where id = #{id}
	</select>
	<sql id="baseColumn">id,name,price,count,type,up_time,state,source_channel,in_price,promtion_price,type_id
	</sql>
	<resultMap type="com.octopus.mybatisDemo.entity.Goods"
		id="baseResultMap">
		<id column="gid" property="id" javaType="java.lang.Long"
			jdbcType="BIGINT" />
		<result property="name" column="name" />
		<result property="price" column="price" />
		<result property="count" column="count" />
		<result property="type" column="type" />
		<result property="upTime" column="up_time" />
		<result property="state" column="state" />
		<result property="sourceChannel" column="source_channel" />
		<result property="inPrice" column="in_price" />
		<result property="promtionPrice" column="promtion_price" />
		<association property="goodsType" resultMap="goodsType"></association>
		
	</resultMap>
	
	<resultMap type="com.octopus.mybatisDemo.entity.Goods"
		id="baseResultMap1">
		<id column="gid" property="id" javaType="java.lang.Long"
			jdbcType="BIGINT" />
		<result property="name" column="name" />
		<result property="price" column="price" />
		<result property="count" column="count" />
		<result property="type" column="type" />
		<result property="upTime" column="up_time" />
		<result property="state" column="state" />
		<result property="sourceChannel" column="source_channel" />
		<result property="inPrice" column="in_price" />
		<result property="promtionPrice" column="promtion_price" />
		<association property="goodsType" column="type_id"
			 select="com.octopus.mybatisDemo.dao.GoodsTypeDao.getById" ></association>
		
	</resultMap>
	
	<resultMap type="com.octopus.mybatisDemo.entity.GoodsType" id="goodsType">
		<id property="id" column="tid"/>
		<result property="parentId" column="parent_id"/>
		<result property="typeName" column="type_name"/>
	</resultMap>
	
	
	
<!-- 	<select id="selectTypeById" resultMap="goodsType"> -->
<!-- 		select id as tid ,parent_id ,type_name  -->
<!-- 		from goods_type -->
<!-- 		where id = #{id} -->
<!-- 	</select> -->

	<delete id="delete" flushCache="true">
	delete from goods where id = #{id}
	</delete>
</mapper>