<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/vue/vue.js"></script>
</head>
<body>
<!--页面模板-->
<div id="app">
    <!-- {{属性}} : 属性获取指令, 只能标签内容里面使用开始标签与结束标签之间使用 -->
    <!--  v-bind:  标签属性指令-->
    <span v-bind:title="title">{{msg}}}</span>
    <!--    简化写法-->
    <span :title="title">{{msg}}}</span>
</div>

<script>
    var app = new Vue({
        el: '#app', //获取页面模板
        data: {//vue 渲染模板时候需要数据
            msg: '你看啥?',
            title:"我看我自己"
        }
    })
</script>

</body>
</html>