<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.octopus.project.dao.SysUserDateInfoDao">

	<select id="get" resultType="com.octopus.project.domain.SysUserDateInfoDO">
		select `id`,`user_id`,`enrole_date`,`leave_date`,`status` from sys_user_date_info where id = #{value}
	</select>

	<select id="list" resultType="com.octopus.project.domain.SysUserDateInfoDO">
		select `id`,`user_id`,`enrole_date`,`leave_date`,`status` from sys_user_date_info
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="enroleDate != null and enroleDate != ''"> and enrole_date = #{enroleDate} </if>
		  		  <if test="leaveDate != null and leaveDate != ''"> and leave_date = #{leaveDate} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from sys_user_date_info
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="enroleDate != null and enroleDate != ''"> and enrole_date = #{enroleDate} </if>
		  		  <if test="leaveDate != null and leaveDate != ''"> and leave_date = #{leaveDate} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.octopus.project.domain.SysUserDateInfoDO">
		insert into sys_user_date_info
		(
			`id`, 
			`user_id`, 
			`enrole_date`, 
			`leave_date`, 
			`status`
		)
		values
		(
			#{id}, 
			#{userId}, 
			#{enroleDate}, 
			#{leaveDate}, 
			#{status}
		)
	</insert>
	 
	<update id="update" parameterType="com.octopus.project.domain.SysUserDateInfoDO">
		update sys_user_date_info 
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="enroleDate != null">`enrole_date` = #{enroleDate}, </if>
			<if test="leaveDate != null">`leave_date` = #{leaveDate}, </if>
			<if test="status != null">`status` = #{status}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from sys_user_date_info where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from sys_user_date_info where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>