<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.octopus.project.dao.TbFavoriteDao">

	<select id="get" resultType="com.octopus.project.domain.TbFavoriteDO">
		select `id`,`user_id`,`product_id`,`join_date` from tb_favorite where id = #{value}
	</select>

	<select id="list" resultType="com.octopus.project.domain.TbFavoriteDO">
		select `id`,`user_id`,`product_id`,`join_date` from tb_favorite
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="productId != null and productId != ''"> and product_id = #{productId} </if>
		  		  <if test="joinDate != null and joinDate != ''"> and join_date = #{joinDate} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from tb_favorite
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="productId != null and productId != ''"> and product_id = #{productId} </if>
		  		  <if test="joinDate != null and joinDate != ''"> and join_date = #{joinDate} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.octopus.project.domain.TbFavoriteDO" useGeneratedKeys="true" keyProperty="id">
		insert into tb_favorite
		(
			`user_id`, 
			`product_id`, 
			`join_date`
		)
		values
		(
			#{userId}, 
			#{productId}, 
			#{joinDate}
		)
	</insert>
	 
	<update id="update" parameterType="com.octopus.project.domain.TbFavoriteDO">
		update tb_favorite 
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="productId != null">`product_id` = #{productId}, </if>
			<if test="joinDate != null">`join_date` = #{joinDate}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from tb_favorite where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from tb_favorite where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>