<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.octopus.project.dao.TbOrderInfoDao">

	<select id="get" resultType="com.octopus.project.domain.TbOrderInfoDO">
		select `id`,`make_date`,`pay_date`,`total_price`,`actual_price`,`order_state`,`pay_state`,`finish_date`,`mobile`,`address`,`contact_name`,`user_id`,`user_remark` from tb_order_info where id = #{value}
	</select>

	<select id="list" resultType="com.octopus.project.domain.TbOrderInfoDO">
		select `id`,`make_date`,`pay_date`,`total_price`,`actual_price`,`order_state`,`pay_state`,`finish_date`,`mobile`,`address`,`contact_name`,`user_id`,`user_remark` from tb_order_info
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="makeDate != null and makeDate != ''"> and make_date = #{makeDate} </if>
		  		  <if test="payDate != null and payDate != ''"> and pay_date = #{payDate} </if>
		  		  <if test="totalPrice != null and totalPrice != ''"> and total_price = #{totalPrice} </if>
		  		  <if test="actualPrice != null and actualPrice != ''"> and actual_price = #{actualPrice} </if>
		  		  <if test="orderState != null and orderState != ''"> and order_state = #{orderState} </if>
		  		  <if test="payState != null and payState != ''"> and pay_state = #{payState} </if>
		  		  <if test="finishDate != null and finishDate != ''"> and finish_date = #{finishDate} </if>
		  		  <if test="mobile != null and mobile != ''"> and mobile = #{mobile} </if>
		  		  <if test="address != null and address != ''"> and address = #{address} </if>
		  		  <if test="contactName != null and contactName != ''"> and contact_name = #{contactName} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="userRemark != null and userRemark != ''"> and user_remark = #{userRemark} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from tb_order_info
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="makeDate != null and makeDate != ''"> and make_date = #{makeDate} </if>
		  		  <if test="payDate != null and payDate != ''"> and pay_date = #{payDate} </if>
		  		  <if test="totalPrice != null and totalPrice != ''"> and total_price = #{totalPrice} </if>
		  		  <if test="actualPrice != null and actualPrice != ''"> and actual_price = #{actualPrice} </if>
		  		  <if test="orderState != null and orderState != ''"> and order_state = #{orderState} </if>
		  		  <if test="payState != null and payState != ''"> and pay_state = #{payState} </if>
		  		  <if test="finishDate != null and finishDate != ''"> and finish_date = #{finishDate} </if>
		  		  <if test="mobile != null and mobile != ''"> and mobile = #{mobile} </if>
		  		  <if test="address != null and address != ''"> and address = #{address} </if>
		  		  <if test="contactName != null and contactName != ''"> and contact_name = #{contactName} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="userRemark != null and userRemark != ''"> and user_remark = #{userRemark} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.octopus.project.domain.TbOrderInfoDO" useGeneratedKeys="true" keyProperty="id">
		insert into tb_order_info
		(
			`make_date`, 
			`pay_date`, 
			`total_price`, 
			`actual_price`, 
			`order_state`, 
			`pay_state`, 
			`finish_date`, 
			`mobile`, 
			`address`, 
			`contact_name`, 
			`user_id`, 
			`user_remark`
		)
		values
		(
			#{makeDate}, 
			#{payDate}, 
			#{totalPrice}, 
			#{actualPrice}, 
			#{orderState}, 
			#{payState}, 
			#{finishDate}, 
			#{mobile}, 
			#{address}, 
			#{contactName}, 
			#{userId}, 
			#{userRemark}
		)
	</insert>
	 
	<update id="update" parameterType="com.octopus.project.domain.TbOrderInfoDO">
		update tb_order_info 
		<set>
			<if test="makeDate != null">`make_date` = #{makeDate}, </if>
			<if test="payDate != null">`pay_date` = #{payDate}, </if>
			<if test="totalPrice != null">`total_price` = #{totalPrice}, </if>
			<if test="actualPrice != null">`actual_price` = #{actualPrice}, </if>
			<if test="orderState != null">`order_state` = #{orderState}, </if>
			<if test="payState != null">`pay_state` = #{payState}, </if>
			<if test="finishDate != null">`finish_date` = #{finishDate}, </if>
			<if test="mobile != null">`mobile` = #{mobile}, </if>
			<if test="address != null">`address` = #{address}, </if>
			<if test="contactName != null">`contact_name` = #{contactName}, </if>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="userRemark != null">`user_remark` = #{userRemark}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from tb_order_info where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from tb_order_info where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>