<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.octopus.project.dao.TbOrderLogisticsDao">

	<select id="get" resultType="com.octopus.project.domain.TbOrderLogisticsDO">
		select `id`,`order_id`,`type`,`logistics_no`,`submit_date` from tb_order_logistics where id = #{value}
	</select>

	<select id="list" resultType="com.octopus.project.domain.TbOrderLogisticsDO">
		select `id`,`order_id`,`type`,`logistics_no`,`submit_date` from tb_order_logistics
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="orderId != null and orderId != ''"> and order_id = #{orderId} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="logisticsNo != null and logisticsNo != ''"> and logistics_no = #{logisticsNo} </if>
		  		  <if test="submitDate != null and submitDate != ''"> and submit_date = #{submitDate} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from tb_order_logistics
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="orderId != null and orderId != ''"> and order_id = #{orderId} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="logisticsNo != null and logisticsNo != ''"> and logistics_no = #{logisticsNo} </if>
		  		  <if test="submitDate != null and submitDate != ''"> and submit_date = #{submitDate} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.octopus.project.domain.TbOrderLogisticsDO" useGeneratedKeys="true" keyProperty="id">
		insert into tb_order_logistics
		(
			`order_id`, 
			`type`, 
			`logistics_no`, 
			`submit_date`
		)
		values
		(
			#{orderId}, 
			#{type}, 
			#{logisticsNo}, 
			#{submitDate}
		)
	</insert>
	 
	<update id="update" parameterType="com.octopus.project.domain.TbOrderLogisticsDO">
		update tb_order_logistics 
		<set>
			<if test="orderId != null">`order_id` = #{orderId}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="logisticsNo != null">`logistics_no` = #{logisticsNo}, </if>
			<if test="submitDate != null">`submit_date` = #{submitDate}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from tb_order_logistics where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from tb_order_logistics where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>