<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.octopus.project.dao.TbOrderDetailRateDao">

	<select id="get" resultType="com.octopus.project.domain.TbOrderDetailRateDO">
		select `id`,`order_detail_id`,`logistics_rate`,`service_rate`,`product_rate`,`message`,`rate_time`,`state` from tb_order_detail_rate where id = #{value}
	</select>

	<select id="list" resultType="com.octopus.project.domain.TbOrderDetailRateDO">
		select `id`,`order_detail_id`,`logistics_rate`,`service_rate`,`product_rate`,`message`,`rate_time`,`state` from tb_order_detail_rate
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="orderDetailId != null and orderDetailId != ''"> and order_detail_id = #{orderDetailId} </if>
		  		  <if test="logisticsRate != null and logisticsRate != ''"> and logistics_rate = #{logisticsRate} </if>
		  		  <if test="serviceRate != null and serviceRate != ''"> and service_rate = #{serviceRate} </if>
		  		  <if test="productRate != null and productRate != ''"> and product_rate = #{productRate} </if>
		  		  <if test="message != null and message != ''"> and message = #{message} </if>
		  		  <if test="rateTime != null and rateTime != ''"> and rate_time = #{rateTime} </if>
		  		  <if test="state != null and state != ''"> and state = #{state} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from tb_order_detail_rate
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="orderDetailId != null and orderDetailId != ''"> and order_detail_id = #{orderDetailId} </if>
		  		  <if test="logisticsRate != null and logisticsRate != ''"> and logistics_rate = #{logisticsRate} </if>
		  		  <if test="serviceRate != null and serviceRate != ''"> and service_rate = #{serviceRate} </if>
		  		  <if test="productRate != null and productRate != ''"> and product_rate = #{productRate} </if>
		  		  <if test="message != null and message != ''"> and message = #{message} </if>
		  		  <if test="rateTime != null and rateTime != ''"> and rate_time = #{rateTime} </if>
		  		  <if test="state != null and state != ''"> and state = #{state} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.octopus.project.domain.TbOrderDetailRateDO" useGeneratedKeys="true" keyProperty="id">
		insert into tb_order_detail_rate
		(
			`order_detail_id`, 
			`logistics_rate`, 
			`service_rate`, 
			`product_rate`, 
			`message`, 
			`rate_time`, 
			`state`
		)
		values
		(
			#{orderDetailId}, 
			#{logisticsRate}, 
			#{serviceRate}, 
			#{productRate}, 
			#{message}, 
			#{rateTime}, 
			#{state}
		)
	</insert>
	 
	<update id="update" parameterType="com.octopus.project.domain.TbOrderDetailRateDO">
		update tb_order_detail_rate 
		<set>
			<if test="orderDetailId != null">`order_detail_id` = #{orderDetailId}, </if>
			<if test="logisticsRate != null">`logistics_rate` = #{logisticsRate}, </if>
			<if test="serviceRate != null">`service_rate` = #{serviceRate}, </if>
			<if test="productRate != null">`product_rate` = #{productRate}, </if>
			<if test="message != null">`message` = #{message}, </if>
			<if test="rateTime != null">`rate_time` = #{rateTime}, </if>
			<if test="state != null">`state` = #{state}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from tb_order_detail_rate where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from tb_order_detail_rate where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>