<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.octopus.project.dao.TbUserFileDao">

	<select id="get" resultType="com.octopus.project.domain.TbUserFileDO">
		select `id`,`url`,`orignal_name`,`content_type`,`gmt_create` from tb_user_file where id = #{value}
	</select>

	<select id="list" resultType="com.octopus.project.domain.TbUserFileDO">
		select `id`,`url`,`orignal_name`,`content_type`,`gmt_create` from tb_user_file
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="url != null and url != ''"> and url = #{url} </if>
		  		  <if test="orignalName != null and orignalName != ''"> and orignal_name = #{orignalName} </if>
		  		  <if test="contentType != null and contentType != ''"> and content_type = #{contentType} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from tb_user_file
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="url != null and url != ''"> and url = #{url} </if>
		  		  <if test="orignalName != null and orignalName != ''"> and orignal_name = #{orignalName} </if>
		  		  <if test="contentType != null and contentType != ''"> and content_type = #{contentType} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.octopus.project.domain.TbUserFileDO" useGeneratedKeys="true" keyProperty="id">
		insert into tb_user_file
		(
			`url`, 
			`orignal_name`, 
			`content_type`, 
			`gmt_create`
		)
		values
		(
			#{url}, 
			#{orignalName}, 
			#{contentType}, 
			#{gmtCreate}
		)
	</insert>
	 
	<update id="update" parameterType="com.octopus.project.domain.TbUserFileDO">
		update tb_user_file 
		<set>
			<if test="url != null">`url` = #{url}, </if>
			<if test="orignalName != null">`orignal_name` = #{orignalName}, </if>
			<if test="contentType != null">`content_type` = #{contentType}, </if>
			<if test="gmtCreate != null">`gmt_create` = #{gmtCreate}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from tb_user_file where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from tb_user_file where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>