<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.edt.mapper.EmployeeMapper" >
    <resultMap id="BaseResultMap" type="com.edt.domain.Employee" >
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <result column="admin" jdbcType="BIT" property="admin" />

        <result column="deptId" property="deptId" />
        <result column="d_name" property="dept.name" />
        <result column="d_sn" property="dept.sn" />

    </resultMap>
    <select id="listByXmlSingle" resultType="com.edt.domain.Employee">
        select * from  employee
    </select>
    <select id="listByXmlJoin" resultType="com.edt.domain.Employee">
        select e.*,d.id d_id,d.name d_name,d.sn d_sn from employee e left join department d on e.dept_id = d.id
    </select>

</mapper>