<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edt.one2many2one.one2many.mapper.EmployeeMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into employee2 (name,deptId) values (#{name},#{deptId})
    </insert>
    <select id="queryByDeptId" resultType="com.edt.one2many2one.one2many.domain.Employee">
        select id,name,deptId from  employee2 where  deptId = #{deptId}
    </select>
</mapper>
