<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${tbUserAddress.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">对应用户：</label>
								<div class="col-sm-8">
									<input id="userId" name="userId" th:value="${tbUserAddress.userId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">收件电话：</label>
								<div class="col-sm-8">
									<input id="mobile" name="mobile" th:value="${tbUserAddress.mobile}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">国家：</label>
								<div class="col-sm-8">
									<input id="country" name="country" th:value="${tbUserAddress.country}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">省份：</label>
								<div class="col-sm-8">
									<input id="province" name="province" th:value="${tbUserAddress.province}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">城市：</label>
								<div class="col-sm-8">
									<input id="city" name="city" th:value="${tbUserAddress.city}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">区：</label>
								<div class="col-sm-8">
									<input id="area" name="area" th:value="${tbUserAddress.area}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">收件地址：</label>
								<div class="col-sm-8">
									<input id="address" name="address" th:value="${tbUserAddress.address}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">收件人：</label>
								<div class="col-sm-8">
									<input id="contactName" name="contactName" th:value="${tbUserAddress.contactName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">是否为默认地址：</label>
								<div class="col-sm-8">
									<input id="isDefault" name="isDefault" th:value="${tbUserAddress.isDefault}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/project/tbUserAddress/edit.js">
	</script>
</body>
</html>
